<!Doctype html>
<html>
<head>
    <title>NFL DATABASE</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div id="nav">
    <ul>
        <li><a href="http://flip3.engr.oregonstate.edu:6749">Home</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/team">Teams</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/coach">Coaches</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/player">Players</a></li>
        <li><a href="http://flip3.engr.oregonstate.edu:6749/game">Games</a></li>
        </ul>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/del.js"></script>
    <script src="/js/deleteGame.js"></script>
    <script src="/js/deletePosition.js"></script>
    <script src="/js/deleteTeam.js"></script>
    <script src="/js/deletePlayer.js"></script>
    <script src="/js/deleteCoach.js"></script>
    <script src="/js/selectGame.js"></script>
    <script src="/js/selectTeam.js"></script>
    <script src="/js/selectTeamx.js"></script>
    <script src="/js/updateGame.js"></script>
    <script src="/js/updatePosition.js"></script>
    <script src="/js/updateTeam.js"></script>
    <script src="/js/updateCoach.js"></script>
    <script src="/js/updatePlayer.js"></script>
    {{{body}}}
</body>
</html>